## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1= random.sample(range(1,101),k=80)
print(sample_list_1)

[3, 31, 59, 14, 6, 39, 42, 81, 17, 54, 73, 66, 70, 21, 88, 1, 68, 82, 67, 94, 7, 52, 83, 35, 33, 99, 80, 41, 98, 43, 30, 74, 25, 27, 32, 10, 15, 84, 96, 8, 69, 86, 91, 85, 5, 48, 61, 22, 49, 77, 76, 89, 75, 97, 56, 63, 36, 34, 64, 53, 2, 79, 92, 51, 26, 28, 87, 55, 93, 50, 29, 19, 40, 65, 4, 37, 57, 23, 95, 47]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1= set(sample_list_1)

print(set1)
print(len(set1))

{1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 15, 17, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randint(1,100))
print(sample_list_2)

[70, 79, 68, 73, 89, 97, 28, 42, 93, 44, 66, 68, 43, 22, 16, 64, 49, 96, 49, 82, 84, 22, 59, 18, 81, 63, 53, 3, 2, 91, 59, 36, 20, 100, 43, 88, 84, 88, 50, 25, 31, 80, 15, 70, 36, 25, 3, 90, 100, 29, 21, 7, 20, 89, 94, 73, 68, 19, 17, 57, 52, 71, 93, 63, 17, 66, 23, 6, 10, 72, 36, 73, 8, 82, 64, 97, 77, 77, 41, 46]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 =set(sample_list_2)

print(set2)
print(len(set2))

{2, 3, 6, 7, 8, 10, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 28, 29, 31, 36, 41, 42, 43, 44, 46, 49, 50, 52, 53, 57, 59, 63, 64, 66, 68, 70, 71, 72, 73, 77, 79, 80, 81, 82, 84, 88, 89, 90, 91, 93, 94, 96, 97, 100}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3=set1 - set2

print(set3)
print(len(set3))

{1, 4, 5, 14, 26, 27, 30, 32, 33, 34, 35, 37, 39, 40, 47, 48, 51, 54, 55, 56, 61, 65, 67, 69, 74, 75, 76, 83, 85, 86, 87, 92, 95, 98, 99}
35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4= set2 - set1

print(set4)
print(len(set4))

{100, 71, 72, 44, 46, 16, 18, 20, 90}
9

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1 & set2

print(set5)
print(len(set5))

{2, 3, 6, 7, 8, 10, 15, 17, 19, 21, 22, 23, 25, 28, 29, 31, 36, 41, 42, 43, 49, 50, 52, 53, 57, 59, 63, 64, 66, 68, 70, 73, 77, 79, 80, 81, 82, 84, 88, 89, 91, 93, 94, 96, 97}
45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

if len(set1)+len(set2)==len(set3)+len(set5)+len(set4)+len(set5):
    print(True)
else:
    print(False)

True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6=set()

{1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 15, 17, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here

set6.update(set3,set5)

print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 15, 17, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set6==set1:
    print(True)
else:
    print(False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
# Your code here

subset1= set2.issubset(set1)

print(subset1)

subset2=set3.issubset(set1)

print(subset2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [20]:
# Your code here

union1=set3.union(set4,set5)

print(union1)

union2=set1|set2

print(union2)

if union1==union2:
    print(True)
else:
    print(False)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
True

#### Using the `pop` method, remove the first element from `set1`.

In [21]:
# Your code here

setpop1=set1.pop()

print(setpop1)

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)
print(len(set1))

{2, 3, 4, 5, 6, 7, 8, 10, 14, 15, 17, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 47, 48, 50, 52, 53, 54, 55, 56, 57, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98}
63